<nav>
    <%= link_to "Cepas", strains_path, class: "btn btn-success" %>
</nav>

<% @wines.each do |wine| %>
    <p><%= wine.name %></p>
    <p><% wine.wine_strains.each_with_index do |wine_strain, index| %>
        <p>Cepa <%= "#{index + 1} : #{wine_strain.strain.name} | #{wine_strain.percentage.to_i}%" %></p>
    </p>
    <% end %>
<% end %>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <% @wines.each do |wine| %>
        <tr>
            <th scope="row"><%= wine.id %></th>
            <td><%= wine.name %></td>
            <td><% wine.wine_strains.each_with_index do |wine_strain, index| %>
                <p>Cepa <%= "#{index + 1} : #{wine_strain.strain.name} | #{wine_strain.percentage.to_i}%" %></p>
            <% end %></td>
        <% end %>
        </tr>
    </tbody>
</table>